[submodule "zsh/.zsh/pure"]
	path = zsh/.zsh/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "vim/.vim/plugged/auto-pairs"]
	path = vim/.vim/plugged/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/.vim/plugged/coc.nvim"]
	path = vim/.vim/plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vim/.vim/plugged/dart-vim-plugin"]
	path = vim/.vim/plugged/dart-vim-plugin
	url = https://github.com/neoclide/dart-lang/dart-vim-plugin.git
[submodule "vim/.vim/plugged/fzf.vim"]
	path = vim/.vim/plugged/fzf.vim
	url = https://github.cojunegunn/fzf.vim.git
[submodule "vim/.vim/plugged/gruvbox"]
	path = vim/.vim/plugged/gruvbox
	url = https://github.cojunegunn/morhetz/gruvbox.git
[submodule "vim/.vim/plugged/nerdcommenter"]
	path = vim/.vim/plugged/nerdcommenter
	url = https://github.cojunegunn/scrooloose/nerdcommenter.git
[submodule "vim/.vim/plugged/nerdtree"]
	path = vim/.vim/plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/plugged/omnisharp-vim"]
	path = vim/.vim/plugged/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim.git
[submodule "vim/.vim/plugged/rainbow"]
	path = vim/.vim/plugged/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "vim/.vim/plugged/typescript-vim"]
	path = vim/.vim/plugged/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/.vim/plugged/vim-abolish"]
	path = vim/.vim/plugged/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/.vim/plugged/vim-airline"]
	path = vim/.vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/.vim/plugged/vim-closetag"]
	path = vim/.vim/plugged/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "vim/.vim/plugged/vim-elixir"]
	path = vim/.vim/plugged/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule "vim/.vim/plugged/vim-flutter"]
	path = vim/.vim/plugged/vim-flutter
	url = https://github.com/thosakwe/vim-flutter.git
[submodule "vim/.vim/plugged/vim-fuGITive"]
	path = vim/.vim/plugged/vim-fuGITive
	url = https://github.com/tpope/vim-fuGITive.git
[submodule "vim/.vim/plugged/vim-graphql"]
	path = vim/.vim/plugged/vim-graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "vim/.vim/plugged/vim-jsx-typescript"]
	path = vim/.vim/plugged/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript.git
[submodule "vim/.vim/plugged/vim-multiple-cursors"]
	path = vim/.vim/plugged/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
